<mat-card>
  <h2>Add Food</h2>
  <table>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <input matInput placeholder="Food name" [(ngModel)]="food.name" required >
        </mat-form-field>
      </td>
    </tr>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <input matInput placeholder="Quantity" type="number" [(ngModel)]="food.quantity" required >
        </mat-form-field>
      </td>
    </tr>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <input matInput placeholder="Unit" [(ngModel)]="food.unit" required >
        </mat-form-field>
      </td>
    </tr>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <input matInput placeholder="Fat (gm)" type="number" [(ngModel)]="food.fatInGm" required >
        </mat-form-field>
      </td>
    </tr>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <input matInput placeholder="Carb (gm)" type="number" [(ngModel)]="food.carbInGm" required >
        </mat-form-field>
      </td>
    </tr>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <input matInput placeholder="Fiber (gm)" type="number" [(ngModel)]="food.fiberInGm" required >
        </mat-form-field>
      </td>
    </tr>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <input matInput placeholder="Net Carbs (gm)" type="number" [(ngModel)]="food.netCarbsInGm" required >
        </mat-form-field>
      </td>
    </tr>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <input matInput placeholder="Protein (gm)" type="number" [(ngModel)]="food.proteinInGm" required >
        </mat-form-field>
      </td>
    </tr>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <input matInput placeholder="Alcohol (gms)" type="number" [(ngModel)]="food.alcoholInGm" required >
        </mat-form-field>
      </td>
    </tr>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <mat-select placeholder="Type" [(ngModel)]="food.type" required >
            <mat-option value="Vegetarian">Vegetarian</mat-option>
            <mat-option value="Non Vegetarian">Non Vegetarian</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <mat-select placeholder="Category" [(ngModel)]="food.category" required >
            <mat-option *ngFor="let c of categories" [value]="c">
              {{ c }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <input matInput placeholder="Calories" type="number" [(ngModel)]="food.calories" required >
        </mat-form-field>
      </td>
    </tr>
    <tr class="fact-row">
      <td class="fact-value">
        <mat-form-field>
          <input matInput placeholder="Your Full Name" [(ngModel)]="food.author" required >
        </mat-form-field>
      </td>
    </tr>
  </table>
  <button mat-raised-button color="primary" (click)="addFood()">Save</button>
  <a mat-button color="primary" href="/">Cancel</a>
</mat-card>
