<mat-card class="food-card">
  <h2 class="title">{{ food.name }}</h2>
  <h3 class="quantity">
    <mat-form-field class="quantity">
      <input matInput placeholder="Quantity (editable)" [ngModel]="food.quantity" (ngModelChange)="onQuantityChange($event)" type="number"><span matSuffix>{{ food.unit }}</span>
    </mat-form-field>
  </h3>
  <table>
    <tr class="fact-row">
      <td class="fact-label">Fat (gm)</td>
      <td class="fact-value">{{ food.fatInGm * changeFactor | round }}</td>
    </tr>
    <tr class="fact-row">
      <td class="fact-label">Carb (gm)</td>
      <td class="fact-value">{{ food.carbInGm * changeFactor | round }}</td>
    </tr>
    <tr class="fact-row">
      <td class="fact-label">Fiber (gm)</td>
      <td class="fact-value">{{ food.fiberInGm * changeFactor | round }}</td>
    </tr>
    <tr class="fact-row">
      <td class="fact-label">Net Carbs (gm)</td>
      <td class="fact-value">{{ food.netCarbsInGm * changeFactor | round }}</td>
    </tr>
    <tr class="fact-row">
      <td class="fact-label">Protein (gm)</td>
      <td class="fact-value">{{ food.proteinInGm * changeFactor | round }}</td>
    </tr>
    <tr class="fact-row">
      <td class="fact-label">Alcohol (gms)</td>
      <td class="fact-value">{{ food.alcoholInGm * changeFactor | round }}</td>
    </tr>
    <tr class="fact-row">
      <td class="fact-label">Type of Food</td>
      <td class="fact-value">{{ food.type }}</td>
    </tr>
    <tr class="fact-row">
      <td class="fact-label">Category</td>
      <td class="fact-value">{{ food.category }}</td>
    </tr>
    <tr class="fact-row">
      <td class="fact-label">Calories</td>
      <td class="fact-value">{{ food.calories * changeFactor | round }}</td>
    </tr>
  </table>
  <div class="footer-links">
    <div class="footer-icon dislike-not-selected" (click)="reportIncorrect()" title="Report incorrect data" [ngClass]="{'dislike-selected' : this.isMarkedIncorrect, 'dislike-not-selected' : !this.isMarkedIncorrect }"></div>
  </div>
</mat-card>
